@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 80px 229px 229px;
  margin-bottom: 176px;
  &_picture {
    display: flex;
    align-items: center;
    height: 228px;
  }
  &_picture-img {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 178px;
    border-radius: 50%;
  }
  &_picture-hello {
    padding: 16px 19px 16px 19px;
    border-radius: 16px;
    background: #1070ca;
    width: 230px;
    color: #ffff;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    align-items: center;
  }
}

.aboutMe {
  align-items: center;
  padding: 0px;
  width: 830px;
  height: 300px;
  &_description {
    color: #234361;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    &-strong {
      color: #1070ca;
    }
  }
  &_nav {
    color: #425a70;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    padding-top: 24px;
    &-link {
      color: #4da8ff;
    }
  }
}
.aboutMe::before {
  content: '';
  background: url('../assets/img/{.png');
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 82.94px;
  height: 254.88px;
}

.aboutMe::after {
  content: '';
  background: url('../assets/img/}.png');
  display: inline-block;

  position: absolute;
  width: 82.94px;
  height: 254.88px;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background: #4da8ff;
  border-radius: 64px;
  font-size: 20px;
  line-height: 40px;
  padding: 4px 24px 4px 24px;
  width: 278px;
  height: 48px;
  margin-top: 68px;
  text-decoration-line: none;
}
