@import '~normalize.css';

body {
  background: #white;
  color: #black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.skills {
  background: #1070ca;
  color: #ffffff;
  &_grid {
    display: grid;
    grid-template-areas: 'h2 h2 h2' 'article article article';
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
