@import '~normalize.css';
@import 'modules/skills.scss';
@import 'modules/aboutMe.scss';
@import 'modules/projects.scss';
@import 'modules/contact.scss';
@import 'modules/hand.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  color: black;
  min-height: 100vh;
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;

  margin: 0 auto;
}
