@import '~normalize.css';
@import 'skills.scss';
@import 'aboutMe.scss';
@import 'projects.scss';
@import 'contact.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  color: black;
  min-height: 100vh;
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;

  margin: 0 auto;
}
